@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.paginate-1 {
  top:12px;
}

.boton-new {
  top: 12px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* formulario producto */

.product_form {
  /*width: 70%;*/
}

.new_product {

}

.form_new {
  margin: 0;
}

.crtBtn {
  position: absolute;
  right: 20px;
  top: 50px;
}

.pagination {
  display: inline-block;
  margin: 0px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /* @include box_sizing; */
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.cant_prod {
  display: inline-block;
}

.cabecera {
  display: inline-block;
}
