<section class="product_form">
  <%= form_for Product.new, remote: true, html: { id: 'product-form' } do |f| %>
    <div class="row form_new">
      <div class="col-md-1"></div>
      <div class="form-group">
        <div class="col-md-5">
          <%= f.text_field :nombre, placeholder: "Nombre:", require: true, autofocus: true, class: "form-control" %>
          <%= f.text_field :categoria, placeholder: "Categoria:", require: true, class: "form-control" %>
          <%= f.text_field :marca, placeholder: "Marca:",require: true,  class: "form-control" %>
          <%= f.text_field :modelo, placeholder: "Modelo:",require: true,  class: "form-control" %>
          <%= f.text_field :cantidad, placeholder: "Cantidad:",require: true,  class: "form-control" %>
        </div>
        <div class="col-md-5">
            <%= f.select(:ubicacion, options_for_select([['Depósito', 'Deposito'], ['Local', 'Local']]), {}, {class: "form-control selectpicker"}) %>
          <%= f.text_field :p_compra, placeholder: "Precio de compra: $", class: "form-control" %>
          <%= f.text_field :p_venta, placeholder: "Precio de venta: $", class: "form-control" %>
          <%= f.text_area :observacion, placeholder: "Observacion:", class: "form-control" %>
          <%= f.text_field :cod_barra, placeholder: "Codigo de barra:", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="modal-footer">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= f.submit "Crear Producto", class: "btn btn-primary" %>
      </div>
      <div class="col-md-4"></div>
    </div>
  <% end %>
</section>
