<tr id='product-<%= product.id %>'>
  <td class='nombre'><%= product.nombre %></td>
  <td class='modelo'><%= product.modelo %></td>
  <td class='marca'><%= product.marca %></td>
  <td class='categoria'><%= product.categoria %></td>
  <td class='cantidad'><%= product.cantidad %></td>
  <td class='ubicacion'><%= product.ubicacion %></td>
  <% if logged_in? %>
    <td class='p_compra'>$<%= product.p_compra %></td>
  <% end %>
  <td class='p_venta'>$<%= product.p_venta %></td>
  <td class='cod_barra'><%= product.cod_barra %></td>
  <% if product.observacion.blank? %>
    <td class='hay_obs'> No </td>
  <% else %>
    <td class='hay_obs'> Si </td>
  <% end %>

  <td class='acciones'>
    <%= link_to product, { class: "btn btn-sm btn-success" } do %>
      <span class="glyphicon glyphicon-search "></span>
    <% end %>
    <% if logged_in? %>
      <%= link_to edit_product_path(product), { class: "btn btn-sm btn-warning" } do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
      <%= link_to product, method: :delete, data: { confirm: "¿Estas seguro?" }, class: "btn btn-sm btn-danger"  do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </td>
</tr>
