<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div clasS="panel-heading">
          <div class="container">
            <h2>Modificar producto</h2>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for @product do |f| %>
              <div class="form form_edit">
                <div class="row">
                  <div class="col-md-6">

                    <div class="form-group row">
                      <label for="nombre" class="col-md-3 form-control-label">Nombre:</label>
                      <div class="col-md-9">
                        <%= f.text_field :nombre, require: 'true', class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="modelo" class="col-sm-3 form-control-label">Modelo:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :modelo, require: 'true',  class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="marca" class="col-sm-3 form-control-label">Marca:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :marca, require: 'true',  class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="Categoria" class="col-sm-3 form-control-label">Categoria:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :categoria, require: 'true', class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="Cantidad" class="col-sm-3 form-control-label">Cantidad:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :cantidad, require: 'true',  class: "form-control" %>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">

                    <div class="form-group row">
                      <label for="Ubicacion" class="col-sm-3 form-grou-label">Ubicación:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :ubicacion, require: 'true',  class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="p_compra" class="col-sm-3 form-group-label">Precio de compra:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :p_compra, class: "form-control" %>
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="p_venta" class="col-sm-3 form-group-label">Precio de venta:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :p_venta, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="observacion" class="col-sm-3 form-group-label">Observación:</label>
                      <div class="col-sm-9">
                        <%= f.text_area :observacion, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="cod_barra" class="col-sm-3 form-group-label">Codigo de barra:</label>
                      <div class="col-sm-9">
                        <%= f.text_field :cod_barra, class: "form-control" %>
                      </div>
                    </div>

                  </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-offset-1">
                  <%= link_to 'Cancelar', products_path, { class: "btn btn-md btn-info" } %>
                </div>
                <div class="col-md-4 col-offset-4">
                  <%= f.submit "Guardar cambios", class: "btn btn-md btn-success" %>
                </div>
              </div>

            </div>
        </div>
        <% end %>
        <div class="panel-footer data-no-turbolink">
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
