<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Crear nuevo producto</h3>
      </div>
      <div class="modal-body">
          <%= render 'new' %>
      </div>
    </div>
  </div>
</div>

<!-- Contenido Vista -->
<br>

    <!-- Panel -->
    <div class="panel panel-default">

      <header class="panel-heading">
        <div class="row">
          <div class="col-sm-4">
            <!-- <h3 class="cant_prod">Productos (<%= @products.count %>)</h3> -->
            <!-- Barra de busqueda -->
            <div class="imput-group">
              <%= search_form_for @q, remote: true do |f| %>
                <%= f.search_field :nombre_or_modelo_or_marca_or_cod_barra_or_categoria_cont, placeholder: "Ingrese busqueda", class: "form-control" %>
                <span class="input-group-btn">
                  <%= f.submit "Buscar", class: "btn" %>
                </span>
              <% end %>
            </div>

          </div>
          <div class="col-sm-4 paginate-1">
            <%= will_paginate @products %>
          </div>
          <div class="col-sm-4 boton-new">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal">
              <span>Crear nuevo producto</span>
            </button>
          </div>
        </div>
      </header>
      <div class="panel-body">
        <table class="table" id="products">
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Categoria</th>
          <th>Cantidad</th>
          <th>Ubicacion</th>
          <% if logged_in? %>
            <th>P. Compra</th>
          <% end %>
          <th>P. Venta</th>
          <th>C. Barra</th>
          <th>Observacion</th>
          <th>Acciones</th>
        </tr>
        <% if @products.any? %>
          <% @products.each do |product| %>
            <%= render "product", :product => product %>
          <% end %>
        <% else %>
          <h1>No hay productos cargados</h1>
        <% end %>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <%= will_paginate @products %>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
