<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div clasS="panel-heading">
          <h1>Detalles del producto</h1>
        </div>
      <div class="panel-body">
        <p>Nombre: <%= @product.nombre %></p>
        <p>Modelo: <%= @product.modelo %></p>
        <p>Marca: <%= @product.marca %></p>
        <p>Catagoria: <%= @product.categoria %></p>
        <p>Cantidad: <%= @product.cantidad %></p>
        <p>Ubicacion: <%= @product.ubicacion %></p>
        <% if logged_in? %>
          <% if is_admin? %>
            <p>Precio de compra: $<%= @product.p_compra %></p>
          <% end %>
        <% end %>
        <p>Precio de venta: $<%= @product.p_venta %></p>
        <p>Codigo de barra: <%= @product.cod_barra %></p>
        <p>Observaciones: <%= @product.observacion %></p>
      </div>
      <div class="panel-footer">
        <% if logged_in? %>
          <% if is_admin? %>

              <div class= "row">
                <div class= "col-sm-5">
                  <div class="btn-group" role="group" aria-label="...">
                    <%= link_to edit_product_path(@product), { class: "btn btn-sm btn-warning" } do %>
                      <span class="glyphicon glyphicon-pencil"> Editar </span>
                    <% end %>
                    <%= link_to @product, method: :delete, data: { confirm: "¿Estas seguro?" }, class: "btn btn-sm btn-danger"  do %>
                      <span class="glyphicon glyphicon-trash"> Eliminar </span>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                  <%= link_to 'Volver', products_path, { class: "btn btn-md btn-info" } %>
                </div>
              </div>
          <% end %>
        <% else %>
        <div class= "row">
          <div class="col-sm-2">
            <%= link_to 'Volver', products_path, { class: "btn btn-md btn-info" } %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
