<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container cabecera">
    <div class="navbar-brand">
      <!-- <%= link_to(image_tag("icono.jpg"), root_path, id: "logo" ) %> -->
      <%= link_to "El CELU / v0.75 beta", root_path %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? and  %>
          <li><%= link_to "Productos", products_path %></li>

          <% if is_admin? %>
            <li><%= link_to "Usuarios", users_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cuenta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Configuracion", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Cerrar Sesion", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Iniciar Sesion", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
